DATABASE_URL=

JWT_SECRET=

ENCRYPTION_KEY=

SEPOLIA_RPC_URL=

ETH_ADMIN_PRIVATE_KEY=
TRON_ADMIN_PRIVATE_KEY=

CLASSCHAIN_ETH_ADDRESS=
CLASSCHAIN_TRON_ADDRESS=

TEACHER_USERNAME=
TEACHER_PASSWORD=

TRON_TREASURY_PRIVATE_KEY=

TRON_NILE_HOST=https://nile.trongrid.io

TRON_TOKEN_ID=1007344

TRAINING_API_KEY=

PORT=4000

ALLOWED_ORIGINS=
